@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



body{
  /* font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal; */

  /* font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal; */

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.diff{
 font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table-container {
 margin-left: 10px;
margin-right: 10px;
  margin-top: 30px;

  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  height: 50px;
}

.disabled {
  background-color: #f2f2f2; /* Gray color */
}

.marr{
  margin: 0px 20px 20px 0px;
}

/* Add additional styling as needed */

